/* STYLES EXCLUSIVES OF CONTACT.HTML */

#background-booking {
    width: 100%;
    height: 100vh;
    background-image: url(../img/background-contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container-box .box-booking {
    height: auto;
    width: 95%;
    background: rgb(255, 255, 255);
    padding-left: 10px;
    border-radius: 20px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, .3);
    margin: 20px;
}

.container-box .box-booking h2 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    text-align: center;
    padding: 15px;
    text-transform: capitalize;
}

.container-box .box-booking h3 {
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
    text-align: center;
    padding: 15px;
    text-transform: capitalize;
}

.booking-table {
    text-align: center;
    padding: 0.2em;
    padding-left: 14%;
    width: 99%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    border-collapse: collapse;
}

.booking-table td {
    padding: 10px;
}

.form-item {
    padding: 0.2em;
    padding-left: 37%;
}

label, input, select, textarea {
	padding: 0.20em;
}

label {
    font-weight: bold;
}

#name_surname, #dni_nie, select, textarea {
    background-color: rgb(229, 227, 209);
    border-radius: 5px;
}

.form-item-button {
    padding-bottom: 20px;
    padding-left: 46%;
}

.form-item-button .button {
    background-color: rgba(200, 200, 200, 0.171);
    box-shadow: 0 0 5px;
}

.button:active { 
    background-color: rgb(200, 200, 200);
}  

/* iPhone SE: 375 x 667 */
@media screen and ((max-width : 376px) and (max-height : 668px)) {
    
    .form-item {
        padding: 0.2em;
    }

    .form-item-button {
        padding-bottom: 20px;
        padding-left: 32%;
    }

    .block-table {
        max-width: 100%;
        overflow: auto;
    }

    .booking-table th {
        padding: 10px;
    }
}