/* STYLES EXCLUSIVES OF PRODUCTS.HTML */

#background-products {
    width: 100%;
    height: 100vh;
    background-image: url(../img/background-products.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container-box-products .box-products {
    height: auto;
    width: auto;
    border-radius: 20px;
    margin: 20px;
    background-color: white;
    text-align: center;
}

.container-box-products .box-products h2 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}

#icon-products {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: red;
    background: black;
    font-size: 25px;
    margin: 10px 0;
}

.box-products-information {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding: 30px;
}

.box-products-information .box-products-information-items {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

footer .bottom #pcopy2{
    padding-left: 35px;
    text-align: left;
    color:black;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow : 3px 3px 20px rgba(255, 255, 255, 0.74);
    margin-top: none;
}
#clothes{
    text-align: justify;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: none;
}

#h2-products2{
    text-transform: capitalize;
    font-weight: bold;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:underline ;
}

#h2-products{
    text-transform: uppercase;
    font-weight:bolder;
    text-decoration:overline;
}
#products{
    text-align: left;
    text-transform: capitalize;
}
footer .bottom #pcopy1{
    padding-left: 20px;
    text-align: left;
    color:black;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: none;
}